alias c=clear
alias h=history
alias g=git
alias untar='tar xvzf'

alias show='defaults write com.apple.finder AppleShowAllFiles true && killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles false && killall Finder'

alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash"

alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"

alias htdocs='cd /usr/local/apache2/htdocs'

alias etcf='exiftool -d %Y/%m/%d "-directory<createdate" *'

alias usb='sudo killall -STOP -c usbd'
